@import '../../colors.scss';

.container {
    height: 100%;
    border-radius: 8px;
    display: block;
    background-color: #eae6eb77;
}


.item {
    float: left;
    text-align: center;
    position: relative;
    color:#303030;
    height: 100%;
}


.item_label {
    display: inline-block;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 2;
}


.thumb {
    margin: 0;
    position: relative;
    transition: 0.45s cubic-bezier(0,-0.5,0,1.1);
    z-index: 1;
    height: 100%;
}

.thumb_visible {
    border-radius: 6px;
    height: 100%;
    width: 100%;
}


.separator {
    float: left;
    background-color: #303030;
    border-radius: 0.5px;
    z-index: 1;
    height: 100%;
}